/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#categories .category image { list-style-image: url("chrome://tabgroups/skin/panes.png"); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneTabGroups"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneHowTo"] image { -moz-image-region: rect(0px 72px 24px 48px); }
#categories .category[value="paneSession"] image { -moz-image-region: rect(0px 96px 24px 72px); }

@media (min-resolution: 1.1dppx) {
	#categories .category image { list-style-image: url("chrome://tabgroups/skin/panes@2x.png"); }
	#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 48px 48px 0px); }
	#categories .category[value="paneTabGroups"] image { -moz-image-region: rect(0px 96px 48px 48px); }
	#categories .category[value="paneHowTo"] image { -moz-image-region: rect(0px 144px 48px 96px); }
	#categories .category[value="paneSession"] image { -moz-image-region: rect(0px 192px 48px 144px); }
}

#paneTabGroups-shortcut label.stretch {
	-moz-margin-end: 1.5em !important;
	margin-top: 5px;
	margin-bottom: 5px;
}

#paneHowTo-credits {
	padding-top: 4em;
	font-size: 0.8em;
}

#paneHowTo-credits a {
	color: #424e5a;
}

groupbox[data-category="paneHowTo"] .img-container {
	display: flex;
}

groupbox[data-category="paneHowTo"] img {
	border: 1px solid rgba(128,128,128,0.3);
}

page[FF49] groupbox[data-category="paneHowTo"] img {
	/* so images shrink down if the preferences tab is too short */
	flex: 1 1 auto;
	width: 1px;
	/* but don't let them extend past their original size */
	max-width: -moz-max-content;
}

page[currentcategory="paneHowTo"] #main-footer {
	visibility: collapse;
}

#paneSession-backup-warning {
	font-weight: bold;
}

#paneSession-backup-warning .warning {
	color: #ee0000;
	text-decoration: underline;
}

#paneSession-backup-autoloaded,
#paneSession-restore-finished {
	text-align: center;
	color: #008844;
}

#paneSession-backup-button,
#paneSession-load-button,
#paneSession-import-button {
	margin: 1em 4em;
}

#paneSession-load-button .button-box {
	-moz-margin-start: 10px;
	-moz-margin-end: 10px;
}

#paneSession-load-button dropmarker {
	display: none;
}

#paneSession-restore-tabList {
	min-height: 100px;
	max-height: 450px;
	height: 60vh;
}

#paneSession-restore-invalid {
	text-align: center;
	margin: 8px auto 4px;
	color: #ee0000;
}

#paneSession-clear-checklist .underline {
	text-decoration: underline;
}

#paneSession-clear-checklist[phase="1"] .item1,
#paneSession-clear-checklist[phase="2"] .item2,
#paneSession-clear-checklist[phase="3"] .item3 {
	font-weight: bold;
}

#paneSession-clear-checklist[phase="1"] .item1 .warning,
#paneSession-clear-checklist[phase="2"] .item2 .warning,
#paneSession-clear-checklist[phase="3"] .item3 .warning {
	color: #ee0000;
	text-decoration: underline;
}

#paneSession-clear-checklist[phase="1"] button:not(#paneSession-clear-button-1),
#paneSession-clear-checklist[phase="2"] button:not(#paneSession-clear-button-2),
#paneSession-clear-checklist[phase="3"] button:not(#paneSession-clear-button-3),
#paneSession-clear-checklist:not([phase="3"]) .confirm {
	visibility: hidden;
}
