#categories .category image { list-style-image: url("chrome://tabgroups/skin/panes.png"); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneTabGroups"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneHowTo"] image { -moz-image-region: rect(0px 72px 24px 48px); }

#paneHowTo-credits {
	padding-top: 4em;
	font-size: 0.8em;
}

#paneHowTo-credits a {
	color: #424e5a;
}
