/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@-moz-document url("chrome://tabgroups/content/tabview.xhtml") {

	scrollbar {
		-moz-appearance: none !important;
		position: relative;
		background-color: transparent;
		background-image: none;
		z-index: 2147483647;
		padding: 2px;
		border: none;
	}

	scrollbar[orient="vertical"] {
		-moz-margin-start: calc(0px - var(--scrollbar-width));
		margin-bottom: 12px;
		min-width: var(--scrollbar-width);
		max-width: var(--scrollbar-width);
	}

	scrollbar[orient="horizontal"] {
		margin-top: calc(0px - var(--scrollbar-width));
		min-height: var(--scrollbar-width);
		max-height: var(--scrollbar-width);
	}

	scrollbar slider {
		-moz-appearance: none !important;
	}

	scrollbar thumb {
		-moz-appearance: none !important;
		background-color: var(--hover-color);
		border-width: 0px;
		border-radius: 3px;
	}

	html > scrollbar,
	.groupItem.thumbing scrollbar,
	scrollbar scrollbarbutton,
	scrollbar gripper {
		display: none;
	}

	body:not([lwtheme]):not([darktheme]) #groupSelector scrollbar thumb,
	body[lwtheme] #groupSelector[brighttext] scrollbar thumb {
		background-color: rgba(245,245,245,0.65);
	}

}
