/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview menus */
.tabview-menuitem {
	max-width: 32em;
}

/* tabview toolbar button */

.tabGroups-icon {
	list-style-image: url(chrome://tabgroups-os/skin/Toolbar.png);
}

toolbar[brighttext] #tabGroups-tabview-button {
	list-style-image: url(chrome://tabgroups-os/skin/Toolbar-inverted.png);
}

#tabGroups-tabview-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
	list-style-image: url(chrome://tabgroups-os/skin/menuPanel.png);
}

@media (min-resolution: 1.1dppx) {
	.tabGroups-icon {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar@2x.png);
	}

	toolbar[brighttext] #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar-inverted@2x.png);
	}

	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/menuPanel@2x.png);
	}
}

#tabGroups-tabview-button[showGroupTitle][cui-areatype="toolbar"] > .toolbarbutton-text {
	display: -moz-box;
}

#tabGroups-tabview-button[showGroupTitle][cui-areatype="toolbar"]:not([overflowedItem="true"]) > .toolbarbutton-icon {
	display: none;
}

/* Compatibility with Tree Style Tab, make sure the button's text is visible with all themes */
#TabsToolbar[treestyletab-mode]:not([treestyletab-tabbar-position="top"]) #tabGroups-tabview-button[showGroupTitle] {
	color: var(--tst-tab-text) !important;
}
