/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
	overflow: hidden;
	-moz-user-select: none;
}

body {
	padding: 0px;
	margin: 0 auto;
}

#content {
	overflow: -moz-hidden-unscrollable;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

#groups {
	flex: 1 1 auto;
	position: relative;
}

/* Tabs */

.tab {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 10px;
	margin: 0;
	cursor: pointer;
}

.tabHidden {
	display: none;
}

body.DraggingTab .tab {
	transition: margin 150ms linear;
}

body.DraggingTab .tab * {
	pointer-events: none;
}

.thumb {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	overflow: hidden;
}

.thumb > *:-moz-any(canvas,.cached-thumb) {
	flex: 1 1 auto;
	background-color: white;
	background-clip: content-box;
}

.tab.cached-data .cached-thumb,
.tab:not(.cached-data) canvas {
	/* minus the borders, canvas are insane because they need width/height attributes to work properly,
	   which completely messes up their layout in flex. */
	width: calc(100% - 2px) !important;
	height: calc(100% - 2px) !important;
}

.tab.cached-data canvas,
.tab:not(.cached-data) .cached-thumb {
	visibility: collapse;
}

.favicon {
	position: absolute;
	min-width: 17px;
	min-height: 17px;
	max-width: 27px;
	max-height: 27px;
	width: calc(100% - 10px - 4px);
	height: calc(100% - 10px - 4px);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
}

.favicon:-moz-locale-dir(ltr) {
	border-bottom-right-radius: 0.4em;
}

.favicon:-moz-locale-dir(rtl) {
	border-bottom-left-radius: 0.4em;
}

.tab:not(.stacked) .favicon { top: 0; }
.tab:not(.stacked) .favicon:-moz-locale-dir(ltr) { left: 0; }
.tab:not(.stacked) .favicon:-moz-locale-dir(rtl) { right: 0; }

.tab.stacked .favicon { top: 1px; }
.tab.stacked .favicon:-moz-locale-dir(ltr) { left: 1px; }
.tab.stacked .favicon:-moz-locale-dir(rtl) { right: 1px; }

/* Apply crisp rendering for favicons at exactly 2dppx resolution */
@media (resolution: 2dppx) {
	.favicon {
		image-rendering: -moz-crisp-edges;
	}
}

.close {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}

.tab .close {
	position: absolute;
	top: 0;
	width: 22px;
	height: 22px;
}

.tab .close:-moz-locale-dir(ltr) {
	right: 0;
}

.tab .close:-moz-locale-dir(rtl) {
	left: 0;
}

.tab-title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	margin: 3px 0;
	flex: 0 0 auto;
}

.stacked {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: visible;
}

.stacked.behind {
	pointer-events: none;
}

.stacked .tab-title {
	display: none;
}

.stacked .thumb {
	box-shadow: rgba(0,0,0,.2) 1px 1px 4px;
}

.stacked .thumb:-moz-locale-dir(rtl) {
	box-shadow: rgba(0,0,0,.2) -1px 1px 4px;
}

.stack-trayed .tab-title {
	text-shadow: rgba(0,0,0,1) 1px 1px 1.5px;
	color: #EEE;
	font-size: 11px;
}

.stack-trayed .tab-title:-moz-locale-dir(rtl) {
	text-shadow: rgba(0,0,0,1) -1px 1px 1.5px;
}

/* Tab GroupItem */

.groupItem {
	position: absolute;
	cursor: pointer;
	border-radius: 0.4em;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

body:not(.searching) .groupItem:not(.phantom) {
	resize: both;
}

.groupItem:not(.phantom) {
	/* Keep in sync with GroupsItems.minGroupHeight/Width */
	min-height: 145px;
	min-width: 120px;
}

.groupItem.activeGroupItem {
	box-shadow: rgba(0,0,0,0.8) 2px 2px 8px;
}

.groupItem.activeGroupItem:-moz-locale-dir(rtl) {
	box-shadow: rgba(0,0,0,0.8) -2px 2px 8px;
}

.groupItem .close {
	width: 26px;
	background-position: center center;
}

.groupItem .contents {
	flex: 1 1 auto;
	margin: 6px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.tab-container {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: hidden;
}

.overlay {
	background-color: rgba(0,0,0,.7) !important;
	box-shadow: 3px 3px 5.5px rgba(0,0,0,.5);
	border-radius: 0.4em;
}

.overlay:-moz-locale-dir(rtl) {
	box-shadow: -3px 3px 5.5px rgba(0,0,0,.5);
}

.undo {
	position: absolute;
	display: flex;
	align-items: stretch;
	align-content: stretch;
	border-radius: 0.4em;
	border: none;
	cursor: pointer;
}

.undo > span {
	flex: 1 1 auto;
	margin: 0.5em 1em;
	-moz-margin-end: 0.75em;
}

.undo .close {
	width: 16px;
	-moz-padding-end: 0.75em;
	opacity: 0.5;
	background-position: 0 50%;
}

.undo .close:hover {
	opacity: 1.0;
}

.phantom {
	position: absolute;
	cursor: default;
}

/* Trenches */

.guideTrench,
.visibleTrench,
.activeVisibleTrench {
	position: absolute;
}

.guideTrench {
	z-index: 202;
	opacity: 0.9;
	border: 1px dashed ThreeDHighlight;
	border-bottom: none;
	-moz-border-end: none;
	box-shadow: 1px 1px 0 ThreeDShadow;
}

.guideTrench:-moz-locale-dir(rtl) {
	box-shadow: -1px 1px 0 ThreeDShadow;
}

.visibleTrench {
	z-index: 200;
	opacity: 0.05;
}

.activeVisibleTrench {
	z-index: 201;
	opacity: 0;
}

.activeVisibleTrench.activeTrench {
	opacity: 0.45;
}

.visibleTrench.border,
.activeVisibleTrench.border {
	background-color: red;
}

.visibleTrench.guide,
.activeVisibleTrench.guide {
	background-color: blue;
}

/* Other */

.dragging {
	z-index: 100;
}

.dragging,
.dragging * {
	cursor: grabbing !important;
}

.active {
	box-shadow: 5px 5px 3px rgba(0,0,0,.5);
}

.active:-moz-locale-dir(rtl) {
	box-shadow: -5px 5px 3px rgba(0,0,0,.5);
}

/* Can't use :-moz-drag-over because hovering its children nodes while dragging
 * would set the pseudo-class on those and not on the group node. */
.groupItem.dragOver {
	box-shadow: 2px 2px 7px -1px rgba(0,0,0,.6);
}

.groupItem.dragOver:-moz-locale-dir(rtl) {
	box-shadow: -2px 2px 7px -1px rgba(0,0,0,.6);
}

.titlebar {
	display: flex;
	cursor: move;
	font-size: 12px;
}

.title-container {
	position: relative;
	flex: 1 1 auto;
}

input.name {
	text-overflow: ellipsis;
	width: 100%;
	background: transparent;
	border: 1px solid transparent;
	margin-top: 3px;
	-moz-margin-start: 3px;
	padding: 1px;
}

input.name:-moz-locale-dir(rtl) {
	background-position: right top;
}

input.name:focus {
	text-overflow: clip;
}

.title-container:hover input.name,
.title-container input.name:focus {
	border-bottom: 1px solid #ddd;
}

input.name::-moz-placeholder {
	opacity: 1.0;
	font-style: italic !important;
	color: transparent;
	background-image: url("chrome://tabgroups/skin/edit-light.png");
	background-repeat: no-repeat;
}

.title-container:hover input.name::-moz-placeholder,
input.name:focus::-moz-placeholder {
	background-image: none;
}

.title-shield {
	position: absolute;
	left: 0;
	top: 0;
	width: -moz-available;
	height: 100%;
	z-index: 10;
	cursor: text;
}

.transparentBorder {
	border: 1px solid transparent !important;
	border: 1px solid transparent !important;
}

.groupItem:not(.stackedGroup) .stackExpander {
	visibility: collapse;
}

.stackExpander {
	cursor: pointer;
	bottom: 8px;
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/stack-expander.png), 0, 48, 24, 24);
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.stackExpander:hover {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/stack-expander.png), 0, 24, 24, 0);
}

.expandedTray {
	position: absolute;
	display: flex;
	z-index: 50;
	padding: 6px;
}

.shield {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.banner {
	left: 0;
	bottom: 0;
	right: 0;
	padding: 10px 0;
	position: absolute;
	z-index: 500;
	background: #000;
	color: #fff;
	opacity: 0;
	text-align: center;
	font-weight: 700;
}

.banner:not(#sessionRestoreNotice) {
	pointer-events: none;
	transition: opacity 1.5s;
}

.banner[show="true"] {
	opacity: 1;
}

#sessionRestoreNotice {
	opacity: 1;
	background-image: linear-gradient(#ffe13e, #ffc703);
	color: rgba(0,0,0,0.95);
	padding: 10px 20px;
}

#sessionRestoreNotice:hover {
	background-image: linear-gradient(#fff14e, #ffd713);
	cursor: pointer;
}

#sessionRestoreNotice .close {
	position: absolute;
	top: calc(50% - 8px);
	right: 6px;
	width: 16px;
	height: 16px;
}

/* Side buttons */

#actions {
	position: relative;
	align-self: start;
	padding: 3px 0;
	-moz-padding-end: 3px;
	z-index: 30;
	width: 29px;
	text-align: center;
	border-radius: 5px;
}

#actions:-moz-locale-dir(ltr) {
	right: -3px;
}

#actions:-moz-locale-dir(rtl) {
	left: -3px;
}

#actions input {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: scroll;
	border: none;
	padding: 2px;
	width: 24px;
	height: 24px;
}

#actions input:hover {
	cursor: pointer;
	background-color: rgba(128,128,128,.15);
}

#actions #searchbutton {
	background-image: -moz-image-rect(url(chrome://tabgroups/skin/buttons.png), 0, 20, 20, 0);
}

#actions #optionsbutton {
	background-image: -moz-image-rect(url(chrome://tabgroups/skin/buttons.png), 0, 40, 20, 20);
}

#actions #helpbutton {
	background-image: -moz-image-rect(url(chrome://tabgroups/skin/buttons.png), 0, 60, 20, 40);
}

/* Pinned Tabs group */

#pinnedTabs {
	margin-top: 3px;
	padding-top: 3px;
}

.appTabIcon {
	background-size: 18px 18px;
}

/* Search */

body:not(.searching) #searchshade,
body:not(.searching) #search {
	display: none;
}

#searchshade {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: rgba(0,0,0,.42);
	width: 100%;
	height: 100%;
}

#search {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: 175;
	width: 100%;
	height: 100%;
}

#search:-moz-locale-dir(rtl) {
	left: auto;
	right: 0;
}

#searchbox {
	position: absolute;
	right: 20px;
	top: 20px;
	pointer-events: auto;
	width: 270px;
	max-width: -moz-available;
	-moz-margin-start: 20px;
	height: 30px;
	color: white;
	border: none;
	background-color: #272727;
	border-radius: 0.4em;
	-moz-padding-start: 5px;
	-moz-padding-end: 5px;
	font-size: 14px;
}

#searchbox:-moz-locale-dir(rtl) {
	right: auto;
	left: 20px;
}

#otherresults {
	position: absolute;
	overflow: hidden;
	display: flex;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 4px 2px;
	background-color: rgba(0,0,0,.3);
	box-shadow: 0px -1px 0px rgba(255,255,255,.1), inset 0px 2px 5px rgba(0,0,0,.3);
}

#otherresults:not(.hasMatches) {
	display: none;
}

#otherresults .label {
	color: #999;
	margin: 4px 7px;
}

#results {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex: 1 1 auto;
}

.onTop {
	z-index: 150 !important;
}

.notMainMatch {
	opacity: 0.7;
}

.inlineMatch {
	display: flex;
	pointer-events: auto;
	background-color: #EBEBEB;
	border-radius: 0.4em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 2px 3px;
	margin-top: 1px;
	margin-bottom: 1px;
	-moz-margin-end: 7px;
	cursor: pointer;
}

.inlineMatch:hover {
	opacity: 1.0;
}

.inlineMatch > img {
	-moz-margin-end: 5px;
	position: relative;
	top: calc(50% - 8px);
	width: 16px;
	height: 16px;
}

.inlineMatch > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;
}
