/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--control-icons: url("chrome://tabgroups/skin/group-controls.png");
	--control-icons-2x: url("chrome://tabgroups/skin/group-controls@2x.png");
	--actions-icons: url("chrome://tabgroups/skin/actions.png");
	--actions-icons-2x: url("chrome://tabgroups/skin/actions@2x.png");
	--button-border: rgba(255,255,255,0.9);

	--actions-width: 35px;
	--actions-button-height: 28px;
	--canvas-border-width: 1px;
	--group-border-width: 1px;
	--group-border-color: rgba(73, 99, 119, 0.3);

	--item-background: rgb(252,252,252);
	--hover-color: rgba(128,128,128,0.2);
	--item-shadow: 0 1px 7px rgba(60, 60, 60, 0.3);
	--item-border: var(--group-border-width) solid var(--group-border-color);

	--scrollbar-width: 10px;
	--list-tab-height: 37px;
	--list-tab-padding: 6px;
	--favicon-size: 16px;
	--favicon-radius: 0.4em;
	--favicon-tile-shadow: 0 0 2px rgba(128,128,128,0.5);

	--group-min-width: 120px;
	--group-min-height: 110px;
	--group-titlebar-height: 24px;
	--group-titlebar-edit-icon: url("chrome://tabgroups/skin/edit-light.png");
	--group-contents-margin: 0;
	--group-contents-top-margin: 2px;
	--group-classic-border-color: rgba(60,60,60,0.4);
	--group-active-shadow: 0 0 0 1px rgba(252,252,252,0.8), 0 0 1px 2px rgba(0,147,224,0.3), 0 1px 7px rgba(0,147,224,0.3);
	--group-active-border-color: rgb(0,147,224);
	--group-active-stacked-color: rgba(128,128,128,0.15);
	--stack-expander-bottom-margin: 8px;

	--group-selectors-background: rgb(46,41,51);
	--group-selector-size: 160px;
	--group-selector-padding: 15px;
	--group-selector-title-height: 14px;
	--group-selector-arrow-size: 10px;
	--group-selector-text-color: rgb(190,190,190);
	--group-selector-text-color-active: rgb(255,255,255);
	--group-selector-hover-color: rgba(0,0,0,0.4);
	--shade-background: rgba(0,0,0,.42);
	--drag-animation: margin 150ms linear;

	--plus-button-color: rgb(128,128,128);

	--highlighter-background: rgb(255, 212, 68);

	--z-actions: 10;
	--z-workspace: 20;
	--z-shield: 30;
	--z-expanded-tray: 50;
	--z-drag-group: 100;
	--z-shade: 150;
	--z-overlay: 175;
	--z-trench-visible: 200;
	--z-trench-active: 201;
	--z-trench-guide: 202;
	--z-banner: 500;
}

body {
	--workspace-height: 100%;
	/* active workspace excludes the width of the action buttons */
	--workspace-width: calc(100% - var(--actions-width));
}

body.grid.groups-overflowing {
	/* same as above, plus its own padding to add space to the scrollbar */
	--workspace-width: calc(100% - var(--actions-width) - var(--scrollbar-width));
}

body.single {
	/* for single view, we need to exclude the group selector at the top and its borders */
	--workspace-height: calc(100% - var(--group-selector-size) - var(--group-border-width));
}

body.single:not(.showGroupThumbs) {
	--workspace-height: calc(100% - (var(--group-selector-size) / 4) - var(--group-border-width));
}

html {
	overflow: hidden;
	-moz-user-select: none;
}

body {
	padding: 0;
	margin: 0;
	color: -moz-DialogText;
}

body.grid,
body.single:not([lwtheme]) {
	background-color: var(--item-background);
}

body.classic[lwtheme] {
	background-image: linear-gradient(transparent 100px, white 178px, white);
	background-attachment: fixed;
}

#content {
	overflow: -moz-hidden-unscrollable;
}

html, body, #content {
	height: 100%;
	width: 100%;
}

#groups {
	position: relative;
	height: var(--workspace-height);
	width: var(--workspace-width);
	z-index: var(--z-workspace);
}

body.grid #groups {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	overflow-x: hidden;
	overflow-y: auto;
}

body.grid.groups-overflowing #groups {
	-moz-padding-end: var(--scrollbar-width);
}

html.thumbing,
html.thumbing body.single #groups,
html.thumbing body.single #content {
	overflow: visible;
}

/* Control buttons */

.close,
.group-options,
.stackExpander,
.tab-setactive,
.tab-audio,
.group-audio,
#search-mode {
	cursor: pointer;
	width: 22px;
	height: 22px;
	padding: 1px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
}

.close {
	background-image: -moz-image-rect(var(--control-icons), 0, 20, 20, 0);
}

.close:hover {
	background-image: -moz-image-rect(var(--control-icons), 0, 40, 20, 20);
}

.close:hover:active {
	background-image: -moz-image-rect(var(--control-icons), 0, 60, 20, 40);
}

.group-options {
	background-image: -moz-image-rect(var(--control-icons), 20, 20, 40, 0);
}

.group-options:hover {
	background-image: -moz-image-rect(var(--control-icons), 20, 40, 40, 20);
}

.group-options:hover:active {
	background-image: -moz-image-rect(var(--control-icons), 20, 60, 40, 40);
}

.stackExpander {
	background-image: -moz-image-rect(var(--control-icons), 40, 20, 60, 0);
}

.stackExpander:hover {
	background-image: -moz-image-rect(var(--control-icons), 40, 40, 60, 20);
}

.stackExpander:hover:active {
	background-image: -moz-image-rect(var(--control-icons), 40, 60, 60, 40);
}

.tab-setactive {
	background-image: -moz-image-rect(var(--control-icons), 60, 20, 80, 0);
}

.tab-setactive:hover {
	background-image: -moz-image-rect(var(--control-icons), 60, 40, 80, 20);
}

.tab-setactive:hover:active {
	background-image: -moz-image-rect(var(--control-icons), 60, 60, 80, 40);
}

.group-audio,
.tab[soundplaying] .tab-audio {
	background-image: -moz-image-rect(var(--control-icons), 80, 20, 100, 0);
}

.group-audio:hover,
.tab[soundplaying] .tab-audio:hover {
	background-image: -moz-image-rect(var(--control-icons), 80, 40, 100, 20);
}

.group-audio:hover:active,
.tab[soundplaying] .tab-audio:hover:active {
	background-image: -moz-image-rect(var(--control-icons), 80, 60, 100, 40);
}

.tab[muted] .tab-audio {
	background-image: -moz-image-rect(var(--control-icons), 100, 20, 120, 0);
}

.tab[muted] .tab-audio:hover {
	background-image: -moz-image-rect(var(--control-icons), 100, 40, 120, 20);
}

.tab[muted] .tab-audio:hover:active {
	background-image: -moz-image-rect(var(--control-icons), 100, 60, 120, 40);
}

#search-mode {
	background-image: -moz-image-rect(var(--control-icons), 120, 20, 140, 0);
}

#search-mode:hover {
	background-image: -moz-image-rect(var(--control-icons), 120, 40, 140, 20);
}

#search-mode:hover:active,
body[searching="list"] #search-mode:not(:hover) {
	background-image: -moz-image-rect(var(--control-icons), 120, 60, 140, 40);
}

@media (min-resolution: 1.1dppx) {
	.close {
		background-image: -moz-image-rect(var(--control-icons-2x), 0, 40, 40, 0);
	}

	.close:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 0, 80, 40, 40);
	}

	.close:hover:active {
		background-image: -moz-image-rect(var(--control-icons-2x), 0, 120, 40, 80);
	}

	.group-options {
		background-image: -moz-image-rect(var(--control-icons-2x), 40, 40, 80, 0);
	}

	.group-options:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 40, 80, 80, 40);
	}

	.group-options:hover:active {
		background-image: -moz-image-rect(var(--control-icons-2x), 40, 120, 80, 80);
	}

	.stackExpander {
		background-image: -moz-image-rect(var(--control-icons-2x), 80, 40, 120, 0);
	}

	.stackExpander:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 80, 80, 120, 40);
	}

	.stackExpander:hover:active {
		background-image: -moz-image-rect(var(--control-icons-2x), 80, 120, 120, 80);
	}

	.tab-setactive {
		background-image: -moz-image-rect(var(--control-icons-2x), 120, 40, 160, 0);
	}

	.tab-setactive:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 120, 80, 160, 40);
	}

	.tab-setactive:hover:active {
		background-image: -moz-image-rect(var(--control-icons-2x), 120, 120, 160, 80);
	}

	.group-audio,
	.tab[soundplaying] .tab-audio {
		background-image: -moz-image-rect(var(--control-icons-2x), 160, 40, 200, 0);
	}

	.group-audio:hover,
	.tab[soundplaying] .tab-audio:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 160, 80, 200, 40);
	}

	.group-audio:hover:active,
	.tab[soundplaying] .tab-audio:hover:active {
		background-image: -moz-image-rect(var(--control-icons-2x), 160, 120, 200, 80);
	}

	.tab[muted] .tab-audio {
		background-image: -moz-image-rect(var(--control-icons-2x), 200, 40, 240, 0);
	}

	.tab[muted] .tab-audio:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 200, 80, 240, 40);
	}

	.tab[muted] .tab-audio:hover:active {
		background-image: -moz-image-rect(var(--control-icons-2x), 200, 120, 240, 80);
	}

	#search-mode {
		background-image: -moz-image-rect(var(--control-icons-2x), 240, 40, 280, 0);
	}

	#search-mode:hover {
		background-image: -moz-image-rect(var(--control-icons-2x), 240, 80, 280, 40);
	}

	#search-mode:hover:active,
	body[searching="list"] #search-mode:not(:hover) {
		background-image: -moz-image-rect(var(--control-icons-2x), 240, 120, 280, 80);
	}
}

/* Tabs */

.tab {
	position: relative;
	overflow: hidden;
	margin: 0;
	cursor: pointer;
}

.tabHidden {
	display: none;
}

body.DraggingTab .tab {
	transition: var(--drag-animation);
}

body.DraggingTab .tab * {
	pointer-events: none;
}

.tab-container:not(.noThumbs) .thumb {
	position: relative;
	width: 100%;
}

.tab-container.noThumbs .thumb {
	overflow: hidden;
}

.tab.stacked .thumb {
	height: 100%;
}

.tab-thumb-container {
	background-color: white;
	background-clip: content-box;
	border: var(--item-border);
	width: calc(100% - var(--canvas-border-width) - var(--canvas-border-width));
	height: calc(100% - var(--canvas-border-width) - var(--canvas-border-width));
}

.tab-thumb-container > .tab-thumb {
	border: none;
	width: 100% !important;
	height: 100% !important;
}

.tab.cached-data canvas,
.tab:not(.cached-data) .cached-thumb {
	display: none;
}

.favicon-container {
	position: absolute;
}

.tab-container:not(.onlyIcons) .favicon-container {
	background-color: var(--item-background);
	border-top: 1px solid transparent;
	border-bottom: var(--item-border);
	-moz-border-start: 1px solid transparent;
	-moz-border-end: var(--item-border);
}

.tab-container:not(.noThumbs):not(.onlyIcons) .favicon-container {
	top: 0;
}

.tab-container:not(.noThumbs):not(.onlyIcons) .favicon-container:-moz-locale-dir(ltr) {
	left: 0;
}

.tab-container:not(.noThumbs):not(.onlyIcons) .favicon-container:-moz-locale-dir(rtl) {
	right: 0;
}

.tab-container:not(.noThumbs):not(.onlyIcons) .tab:not(.stacked) .favicon-container {
	width: 22px;
	height: 22px;
}

.tab-container:not(.noThumbs):not(.onlyIcons) .tab:not(.stacked) .favicon-container:-moz-locale-dir(ltr) {
	border-bottom-right-radius: 80%;
}

.tab-container:not(.noThumbs):not(.onlyIcons) .tab:not(.stacked) .favicon-container:-moz-locale-dir(rtl) {
	border-bottom-left-radius: 80%;
}

.tab.stacked .favicon-container {
	width: 27px;
	height: 27px;
	border-top-color: var(--group-border-color);
	-moz-border-start-color: var(--group-border-color);
}

.tab.stacked .favicon-container:-moz-locale-dir(ltr) {
	border-bottom-right-radius: var(--favicon-radius);
}

.tab.stacked .favicon-container:-moz-locale-dir(rtl) {
	border-bottom-left-radius: var(--favicon-radius);
}

.favicon {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: var(--favicon-size) var(--favicon-size);
	background-position: center center;
}

.tab-container:not(.noThumbs):not(.onlyIcons) .tab:not(.stacked) .favicon {
	position: relative;
}

/* Apply crisp rendering for favicons at exactly 2dppx resolution */
@media (resolution: 2dppx) {
	.favicon {
		image-rendering: -moz-crisp-edges;
	}
}

.tab-container:not(.onlyIcons) .tab.noFavicon:not([busy]) .favicon-container,
.tab:not([busy]) .throbber,
.tab[busy] .favicon:not(.throbber) {
	display: none;
}

.tab[busy]:not([progress]) .throbber,
.appTabIcon[busy]:not([progress]) {
	background-image: url("chrome://browser/skin/tabbrowser/connecting.png");
}

body:not([FF48]) .tab[busy][progress] .throbber,
body:not([FF48]) .appTabIcon[busy][progress] {
	background-image: url("chrome://browser/skin/tabbrowser/loading.png");
}

body[FF48] .tab[busy][progress] .throbber,
body[FF48] .appTabIcon[busy][progress] {
	background-image: url("chrome://global/skin/icons/loading.png");
}

@media (min-resolution: 1.1dppx) {
	body[FF50] .tab[busy]:not([progress]) .throbber,
	body[FF50] .appTabIcon[busy]:not([progress]) {
		background-image: url("chrome://browser/skin/tabbrowser/connecting@2x.png");
	}

	body[FF50] .tab[busy][progress] .throbber,
	body[FF50] .appTabIcon[busy][progress] {
		background-image: url("chrome://global/skin/icons/loading@2x.png");
	}
}

.tab-controls {
	position: absolute;
}

.tab-controls > * {
	display: inline-block;
}

.tab:not([soundplaying]):not([muted]) .tab-audio {
	display: none;
}

.tab-label {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	margin: 3px 0;
}

.stacked {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: visible;
}

.stacked.behind {
	pointer-events: none;
}

.stacked .tab-label {
	display: none;
}

.stacked .thumb {
	box-shadow: rgba(0,0,0,.2) 1px 1px 4px;
}

.stacked .thumb:-moz-locale-dir(rtl) {
	box-shadow: rgba(0,0,0,.2) -1px 1px 4px;
}

.tab.stacked .tab-controls {
	top: -2px;
}

.tab.stacked .tab-controls:-moz-locale-dir(ltr) {
	right: -2px;
}

.tab.stacked .tab-controls:-moz-locale-dir(rtl) {
	left: -2px;
}

.groupItem.thumbing .tab-label,
.groupItem.thumbing .tab-container:not(.onlyIcons) .favicon-container,
.groupItem.thumbing .tab-controls {
	opacity: 0;
}

/* "protected" tabs from Tab Mix Plus can't be closed */
.tab[protected] .close {
	display: none;
}

/* Tab GroupItem */

.groupItem,
.expandedTray {
	overflow: hidden;
}

.groupItem,
.expandedTray,
.undo:not(.inGroupSelector) {
	background-color: var(--item-background);
	border: var(--group-border-width) solid var(--group-classic-border-color);
}

body:not(.classic) .groupItem {
	border-top-color: ThreeDHighlight;
	border-bottom-color: ThreeDShadow;
	-moz-border-start-color: ThreeDHighlight;
	-moz-border-end-color: ThreeDShadow;
}

body.classic .groupItem,
.expandedTray,
.undo:not(.inGroupSelector) {
	position: absolute;
	box-shadow: var(--item-shadow);
}

body:not(.single) .groupItem.activeGroupItem {
	border-color: var(--group-active-border-color);
	box-shadow: var(--group-active-shadow);
}

body:not(.single) .groupItem.stackedGroup.activeGroupItem:not(:hover) {
	background-image: linear-gradient(to bottom, var(--group-active-stacked-color), var(--group-active-stacked-color));
}

.groupItem:not(.closed).stackedGroup {
	cursor: pointer;
}

body:not(.single) .groupItem:not(.closed):not(.stackedGroup) {
	cursor: grab;
}

body.classic:not([searching="list"]) .groupItem:not(.phantom) {
	resize: both;
}

body.grid .groupItem {
	position: relative;
	flex: 1 1 auto;
}

body.grid .groupItem.activeGroupItem {
	z-index: 2;
}

body.single .groupItem {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: none;
	border-bottom: none;
	-moz-border-start: none;
}

body.single .groupItem:not(.activeGroupItem):not(.thumbing) {
	display: none;
}

body.single .groupItem:not(.activeGroupItem).thumbing {
	top: 100%;
}

body:not(.classic) .groupItem.closed > *:not(.undo) {
	display: none;
}

body.DraggingGroup .groupItem * {
	pointer-events: none;
}

body:not(.grid) .groupItem:not(.phantom) {
	min-height: var(--group-min-height);
	min-width: var(--group-min-width);
}

.groupItem .contents {
	position: relative;
	margin-top: var(--group-contents-top-margin);
	overflow: hidden;
	/* leave space for titlebar and for its own margin */
	height: calc(100% - var(--group-titlebar-height) - var(--group-contents-top-margin));
}

.groupItem.stackedGroup .contents {
	overflow: visible;
}

.tab-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
}

.groupItem.stackedGroup .tab-container {
	/* try to center the stacked tabs in the group's boundaries */
	height: calc(100% - var(--group-titlebar-height));
	overflow-x: visible;
	overflow-y: visible;
}

.undo {
	position: absolute;
	display: flex;
	align-items: center;
	align-content: stretch;
	cursor: pointer;
	opacity: 0.75;
}

body:not(.classic) .undo {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.undo > span {
	flex: 1 1 auto;
	margin: 0.5em 1em;
}

.undo > span,
.undo .close {
	-moz-margin-end: 0.5em;
}

.undo .close {
	flex: 0 0 auto;
}

.phantom {
	position: absolute;
	cursor: default;
}

.phantom:not(.activeGroupItem) {
	opacity: 0.7;
}

/* new group/tab items */

.groupItem:not(.emptyGroup) .tab.create-new,
.expandedTray .tab.create-new,
body:not(.grid) #gridNewGroup {
	display: none;
}

body:-moz-any(.DraggingTab,.DraggingGroup) .tab.create-new,
.groupItem.thumbing .tab.create-new {
	opacity: 0;
}

.create-new {
	position: relative;
	order: 9999999;
	width: 100%;
	height: 100%;
	-moz-user-focus: normal;
}

.create-new .create-new-border {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%;
	height: 65%;
	border: 5px dashed var(--plus-button-color);
	opacity: 0.3;
}

.create-new:-moz-any(:hover,.dragOver) > .create-new-border {
	opacity: 0.75;
}

.create-new .create-new-plus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 75%;
	/* mask-* are still only available in Nightly and DevEdition
	mask-image: url("chrome://tabgroups/skin/newtab.svg");
	mask-size: cover;
	background-color: var(--plus-button-color);
	max-width: 64px;
	max-height: 64px;*/
	max-width: 48px;
	max-height: 48px;
	background-image: url("chrome://tabgroups/skin/newItem.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* tab items shown without thumbnails (listed only) */

.groupItem:not(.showUrls) .tab-label-separator,
.groupItem:not(.showUrls) .tab-url,
.tab-container:not(.noThumbs) .tab-label-separator,
.tab-container:not(.noThumbs) .tab-url,
.tab.onlyUrl .tab-label-separator,
.tab.onlyUrl .tab-url {
	display: none;
}

.tab-container.noThumbs .tab {
	position: relative;
	flex: 1 1 auto;
	width: 100%;
	height: calc(var(--list-tab-height) - var(--list-tab-padding) - var(--list-tab-padding));
	padding: var(--list-tab-padding);
}

.tab-container.noThumbs .tab.space-before {
	margin-top: var(--list-tab-height);
}

.tab-container.noThumbs .tab.space-after {
	margin-bottom: var(--list-tab-height);
}

.tab-container.noThumbs .tab .thumb {
	/* this is just to prevent any sort of display glitch */
	width: 0;
	height: 0;
}

.tab-container.noThumbs .tab-thumb {
	display: none;
}

.tab-container.noThumbs .tab .favicon-container {
	top: 50%;
	transform: translateY(-50%);
	width: var(--favicon-size);
	height: var(--favicon-size);
	background: none;
	border: none;
	-moz-margin-start: 2px;
}

.tab-container.noThumbs .tab-controls {
	top: 8px;
}

.tab-container.noThumbs .tab-controls:-moz-locale-dir(ltr) {
	right: 8px;
}

.tab-container.noThumbs .tab-controls:-moz-locale-dir(rtl) {
	left: 8px;
 }

.tab-container.noThumbs .tab .tab-label {
	text-align: start;
	-moz-margin-end: 24px;
}

.tab-container.noThumbs .tab:-moz-any([soundplaying],[mute]) .tab-label {
	-moz-margin-end: 48px;
}

.tab-container.noThumbs .tab:-moz-any(:not(.noFavicon),[busy]) .tab-label {
	-moz-margin-start: 24px;
}

.groupItem.showUrls .tab-container.noThumbs .tab:not(.onlyUrl) .tab-title {
	font-weight: bold;
}

body.single:not(.showGroupThumbs) #singleNewGroup .create-new-border,
.tab-container.noThumbs .create-new-border {
	height: 100%;
	width: 100%;
	border: none;
}

/* Tab Items shown without thumbnails, tiling favicons instead */

.tab-container.onlyIcons .thumb {
	margin-top: 2px;
}

.tab-container.onlyIcons .tab-thumb {
	display: none;
}

.tab-container.onlyIcons .tab-thumb-container {
	border: none;
	background: none;
	box-shadow: none;
}

.tab-container.onlyIcons .tab-controls {
	top: 0;
}

.tab-container.onlyIcons .tab-controls:-moz-locale-dir(ltr) {
	right: 0;
}

.tab-container.onlyIcons .tab-controls:-moz-locale-dir(rtl) {
	left: 0;
}

.tab-container.onlyIcons .favicon-container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tab-container.onlyIcons .tab:not([busy]) .favicon-container {
	border-radius: 3px;
	border: 1px solid var(--group-border-color);
	box-shadow: var(--favicon-tile-shadow);
}

/* Group Selector items */

#groupSelector {
	position: relative;
	width: var(--workspace-width);
	height: var(--group-selector-size);
	z-index: var(--z-workspace);
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--group-selectors-background);
	border-bottom: var(--group-border-width) solid var(--item-background);
	-moz-border-end: var(--group-border-width) solid ThreeDShadow;
	color: var(--group-selector-text-color);
}

body:not(.single) #groupSelector {
	display: none;
}

body[lwtheme] #groupSelector {
	background-color: transparent;
}

body:not([lwtheme]) #groupSelector .groupSelector.create-new:hover,
body[lwtheme] #groupSelector[brighttext] .groupSelector.create-new:hover {
	--plus-button-color: rgb(245,245,245);
}

.groupSelector {
	position: relative;
	overflow: hidden;
	margin: 0;
	cursor: pointer;
	flex: 0 0 auto;
	width: var(--group-selector-size);
	height: var(--group-selector-size);
}

.groupSelector.activeGroupItem {
	color: var(--group-selector-text-color-active);
}

body[lwtheme] #groupSelector:not([brighttext]) .groupSelector {
	color: rgb(32,32,32);
}

body[lwtheme] #groupSelector:not([brighttext]) .groupSelector.activeGroupItem {
	color: rgb(0,0,0);
}

body:not([lwtheme]) .groupSelector:-moz-any(:hover,.dragOver,.activeGroupItem),
body[lwtheme] #groupSelector[brighttext] .groupSelector:-moz-any(:hover,.dragOver,.activeGroupItem) {
  background-color: var(--group-selector-hover-color);
}

body[lwtheme] #groupSelector:not([brighttext]) .groupSelector:-moz-any(:hover,.dragOver,.activeGroupItem) {
  background-color: var(--hover-color);
}

.groupSelector.activeGroupItem:after {
	content: "";
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	border: var(--group-selector-arrow-size) solid var(--item-background);
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

body.single:not(.showGroupThumbs) #groupSelector,
body.single:not(.showGroupThumbs) .groupSelector {
	height: calc(var(--group-selector-size) / 4);
}

body.DraggingGroupSelector .groupSelector {
	transition: var(--drag-animation);
}

.groupSelector.space-before {
	-moz-margin-start: var(--group-selector-size);
}

.groupSelector.space-after {
	-moz-margin-end: var(--group-selector-size);
}

.groupSelector:not(.closedGroup) > *:not(.selector-controls) {
	pointer-events: none;
}

.groupThumb {
	position: absolute;
	left: 50%;
	/* keeping this aligned correctly with the group title is a bit tricky,
	   as I'm trying to avoid using flexboxes because its a canvas and those lag there */
	top: calc(50% - var(--group-selector-title-height));
	transform: translate(-50%, calc(0px - 50%));
	padding: 4px;
	border: var(--canvas-border-width) solid var(--hover-color);
	background-color: var(--item-background);
}

body:not(.showGroupThumbs) .groupThumb,
.groupSelector.closedGroup > *:not(.undo) {
	display: none;
}

.groupSelector .group-title {
	display: block;
	position: absolute;
	bottom: var(--group-selector-padding);
	left: 50%;
	transform: translateX(-50%);
	max-width: calc(100% - var(--group-selector-padding));
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

body:not(.showGroupThumbs) .groupSelector .group-title {
	bottom: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: calc(100% - (var(--group-selector-padding) * 3));
}

.selector-controls {
	position: absolute;
	top: 0;
	right: 0;
}

.selector-controls > * {
	display: inline-block;
}

body:not(.showGroupThumbs) .selector-controls {
	top: 50%;
	transform: translateY(-50%);
	right: 2px;
	display: flex;
}

body:not([lwtheme]) .groupSelector .close:not(:hover):not(:active),
body[lwtheme] #groupSelector[brighttext] .groupSelector .close:not(:hover):not(:active) {
	background-image: -moz-image-rect(var(--control-icons), 0, 80, 20, 60);
}

body:not([lwtheme]) .groupSelector .group-audio:not(:hover):not(:active),
body[lwtheme] #groupSelector[brighttext] .groupSelector .group-audio:not(:hover):not(:active) {
	background-image: -moz-image-rect(var(--control-icons), 80, 80, 100, 60);
}

@media (min-resolution: 1.1dppx) {
	body:not([lwtheme]) .groupSelector .close:not(:hover):not(:active),
	body[lwtheme] #groupSelector[brighttext] .groupSelector .close:not(:hover):not(:active) {
		background-image: -moz-image-rect(var(--control-icons-2x), 0, 160, 40, 120);
	}

	body:not([lwtheme]) .groupSelector .group-audio:not(:hover):not(:active),
	body[lwtheme] #groupSelector[brighttext] .groupSelector .group-audio:not(:hover):not(:active) {
		background-image: -moz-image-rect(var(--control-icons-2x), 160, 160, 200, 120);
	}
}

.groupSelector .undo {
	width: 100%;
}

body.DraggingGroupSelector #singleNewGroup {
	opacity: 0;
}

/* Trenches */

.guideTrench,
.visibleTrench,
.activeVisibleTrench {
	position: absolute;
}

.guideTrench {
	z-index: var(--z-trench-guide);
	opacity: 0.9;
	border: 1px dashed ThreeDHighlight;
	border-bottom: none;
	-moz-border-end: none;
	box-shadow: 1px 1px 0 ThreeDShadow;
}

.guideTrench:-moz-locale-dir(rtl) {
	box-shadow: -1px 1px 0 ThreeDShadow;
}

.visibleTrench {
	z-index: var(--z-trench-visible);
	opacity: 0.05;
}

.activeVisibleTrench {
	z-index: var(--z-trench-active);
	opacity: 0;
}

.activeVisibleTrench.activeTrench {
	opacity: 0.45;
}

.visibleTrench.border,
.activeVisibleTrench.border {
	background-color: red;
}

.visibleTrench.guide,
.activeVisibleTrench.guide {
	background-color: blue;
}

/* Other */

body.classic .groupItem.dragging,
.groupItem.resizing {
	z-index: var(--z-drag-group);
}

body.classic .groupItem.dragging,
body.classic .groupItem.dragging * {
	cursor: grabbing !important;
}

.titlebar {
	display: flex;
	font-size: 12px;
	height: var(--group-titlebar-height);
}

.titlebar > *:not(.title-container) {
	flex: 0 0 auto;
}

body.single .titlebar .group-audio,
body.single .titlebar .close {
	display: none;
}

.groupItem.stackedGroup .titlebar > * {
	z-index: 9;
}

body.single .group-options {
	order: -1;
}

.title-container {
	position: relative;
	flex: 1 1 auto;
}

input.name {
	text-overflow: ellipsis;
	background: transparent;
	border: 1px solid transparent;
	margin-top: 1px;
	-moz-margin-start: 3px;
	padding: 1px 1px 2px 1px;
	/* subtract own borders, margin and padding... */
	width: calc(100% - 7px);
}

input.name:-moz-locale-dir(rtl) {
	background-position: right top;
}

input.name:focus {
	text-overflow: clip;
}

.title-container:hover input.name,
.title-container input.name:focus {
	border-bottom-color: rgba(128,128,128,0.25);
}

input.name:not(:focus)::-moz-placeholder {
	background-image: var(--group-titlebar-edit-icon);
	background-repeat: no-repeat;
}

input.name.unnamed-group:not(:focus) {
	-moz-padding-start: 18px;
	width: calc(100% - 18px);
}

.unnamed-group:not(:focus) {
	font-style: italic;
	color: rgba(128,128,128,0.9);
}

input.name:focus::-moz-placeholder {
	color: transparent;
}

.title-shield {
	position: absolute;
	left: 0;
	top: 0;
	width: -moz-available;
	height: 100%;
	z-index: var(--z-shield);
	cursor: text;
}

.transparentBorder {
	border: 1px solid transparent !important;
}

body:not(.showTabCounter) .tab-counter {
	display: none;
}

.tab-counter {
	padding: 3px 6px;
	max-width: 40%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 2px 2px 0 0;
	background-image: linear-gradient(to bottom, rgba(128,128,128,0.3), transparent);
	cursor: default;
}

body.single .tab-counter {
	-moz-margin-end: 4px;
}

body:not(.single) .activeGroupItem .tab-counter {
	background-image: linear-gradient(to bottom, rgba(0,147,224,0.3), transparent);
}

.groupSelector:not(.soundplaying) .group-audio,
.groupItem:not(.soundplaying) .group-audio,
.groupItem:not(.stackedGroup) .stackExpander {
	display: none;
}

.stackExpander {
	position: absolute;
	bottom: var(--stack-expander-bottom-margin);
	left: 50%;
	transform: translateX(-50%);
	z-index: var(--z-shield);
}

.expandedTray {
	z-index: var(--z-expanded-tray);
}

.expandedTray .tab-container {
	width: 100%;
	height: 100%;
}

.shield {
	z-index: var(--z-shield);
}

.shade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--shade-background);
}

.banner {
	left: 0;
	bottom: 0;
	right: 0;
	padding: 10px 0;
	position: absolute;
	z-index: var(--z-banner);
	background: #000;
	color: #fff;
	opacity: 0;
	text-align: center;
	font-weight: 700;
}

.banner:not(#sessionRestoreNotice) {
	pointer-events: none;
	transition: opacity 1.5s;
}

.banner[show="true"] {
	opacity: 1;
}

html.thumbing .banner {
	display: none;
}

#sessionRestoreNotice {
	opacity: 1;
	background-image: linear-gradient(#ffe13e, #ffc703);
	color: rgba(0,0,0,0.95);
	padding: 10px 20px;
}

#sessionRestoreNotice:hover {
	background-image: linear-gradient(#fff14e, #ffd713);
	cursor: pointer;
}

#sessionRestoreNotice .close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#sessionRestoreNotice .close:-moz-locale-dir(ltr) {
	right: 9px;
}

#sessionRestoreNotice .close:-moz-locale-dir(rtl) {
	left: 9px;
}

#sessionRestoreNotice span {
	pointer-events: none;
}

/* Side buttons */

#actions {
	position: absolute;
	top: 0;
	overflow: hidden;
	align-self: start;
	z-index: var(--z-actions);
	width: var(--actions-width);
	text-align: center;
	background-color: var(--item-background);
	border-top: var(--group-border-width) solid var(--item-background);
}

#actions:-moz-locale-dir(ltr) {
	right: 0;
}

#actions:-moz-locale-dir(rtl) {
	left: 0;
}

body.classic #actions {
	-moz-border-start: var(--item-border);
	border-bottom: var(--item-border);
	box-shadow: var(--item-shadow);
}

body.grid #actions {
	border-top: var(--group-border-width) solid ThreeDHighlight;
}

body:not(.classic) #actions {
	/* account for its own borders */
	height: calc(100% - var(--group-border-width));
}

#actions input {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: scroll;
	background-size: 18px 18px;
	border: none;
	cursor: pointer;
	padding: 0;
	width: var(--actions-width);
	height: var(--actions-button-height);
}

#actions #exit-button {
	background-image: -moz-image-rect(var(--actions-icons), 0, 18, 18, 0);
}

#actions #searchbutton {
	background-image: -moz-image-rect(var(--actions-icons), 0, 72, 18, 54);
}

#actions #optionsbutton {
	background-image: -moz-image-rect(var(--actions-icons), 0, 36, 18, 18);
}

#actions #helpbutton {
	background-image: -moz-image-rect(var(--actions-icons), 0, 54, 18, 36);
}

#actions #classicbutton {
	background-image: -moz-image-rect(var(--actions-icons), 0, 126, 18, 108);
}

#actions #gridbutton {
	background-image: -moz-image-rect(var(--actions-icons), 0, 108, 18, 90);
}

#actions #singlebutton {
	background-image: -moz-image-rect(var(--actions-icons), 0, 90, 18, 72);
}

@media (min-resolution: 1.1dppx) {
	#actions #exit-button {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 36, 36, 0);
	}

	#actions #searchbutton {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 144, 36, 108);
	}

	#actions #optionsbutton {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 72, 36, 36);
	}

	#actions #helpbutton {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 108, 36, 72);
	}

	#actions #classicbutton {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 252, 36, 216);
	}

	#actions #gridbutton {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 216, 36, 180);
	}

	#actions #singlebutton {
		background-image: -moz-image-rect(var(--actions-icons-2x), 0, 180, 36, 144);
	}
}

#actions .grouped {
	margin-top: 1px;
	padding-top: 1px;
	border-top: 1px solid rgba(4, 38, 60, 0.3);
}

/* Pinned Tabs group */

#actions:not(.dragOver) #pinnedTabs:not([visible]) {
	display: none;
}

#actions.dragOver #pinnedTabs {
	padding-bottom: var(--actions-button-height);
}

body.DraggingTab .appTabIcon {
	transition: var(--drag-animation);
}

.appTabIcon.space-before {
	margin-top: var(--actions-button-height);
}

.appTabIcon.space-after {
	margin-bottom: var(--actions-button-height);
}

/* Various interaction effects */

.groupItem:not(.thumbing) .tab:not(.stacked).focus,
.groupItem:not(.thumbing) .tab:not(.stacked):hover,
.expandedTray .tab.focus,
.expandedTray .tab:hover,
#actions input:hover,
#actions input.appTabIcon.activeAppTab,
.search-result-group .tab.focus,
body.classic #classicbutton,
body.grid #gridbutton,
body.single #singlebutton,
body[searching] #searchbutton {
	background-color: var(--hover-color);
}

.groupItem:not(.thumbing) .tab-container:not(.noThumbs):not(.onlyIcons) .tab:not(.stacked).focus .favicon-container,
.groupItem:not(.thumbing) .tab-container:not(.noThumbs):not(.onlyIcons) .tab:not(.stacked):hover .favicon-container,
.expandedTray .tab-container:not(.noThumbs):not(.onlyIcons) .tab.focus .favicon-container,
.expandedTray .tab-container:not(.noThumbs):not(.onlyIcons) .tab:hover .favicon-container,
.groupItem.stackedGroup:hover,
body.DraggingGroup .groupItem.dragging,
body.DraggingGroup .groupItem.dragging .tab:not(.stacked):not(.onlyIcons) .favicon-container,
body.DraggingGroup .groupItem.dragOver,
body.DraggingGroup .groupItem.dragOver .tab:not(.stacked):not(.onlyIcons) .favicon-container,
#gridNewGroup:hover,
#gridNewGroup.dragOver {
	background-image: linear-gradient(to bottom, var(--hover-color), var(--hover-color));
}

.groupItem:not(.thumbing) .tab:not(.stacked).focus,
.expandedTray .tab.focus,
#actions input.appTabIcon.activeAppTab,
body.classic #classicbutton,
body.grid #gridbutton,
body.single #singlebutton,
body[searching] #searchbutton {
	box-shadow: inset 0 0 0 1px var(--group-active-border-color);
}

body.DraggingGroup .groupItem > * {
	opacity: 0.7;
}

.groupSelector:hover .groupThumb,
.groupSelector.dragOver .groupThumb,
.groupSelector.activeGroupItem .groupThumb {
	border-top: var(--group-border-width) solid ThreeDShadow;
	border-bottom: var(--group-border-width) solid ThreeDLightShadow;
	-moz-border-start: var(--group-border-width) solid ThreeDShadow;
	-moz-border-end: var(--group-border-width) solid ThreeDLightShadow;
}

.groupSelector:hover .undo,
.undo:hover {
	opacity: 1;
}

/* Search */

html.thumbing #searchshade,
html.thumbing #search,
body:not([searching="list"]) #searchshade,
body:not([searching="list"]) #searchresults,
body:not([searching]) #search,
#searchresults[empty="true"] {
	display: none;
}

#searchshade {
	z-index: var(--z-shade);
}

#search {
	position: absolute;
	z-index: var(--z-overlay);
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

#search > * {
	pointer-events: all;
}

body[searching="list"] #search {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 90%;
	max-width: 820px;
}

body[searching="highlight"] #search {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#searchresults {
	flex: 0 1 auto;
	height: -moz-fit-content;
	max-height: calc(100% - 70px);
	border-top: var(--group-border-width) solid ThreeDHighlight;
	border-bottom: var(--group-border-width) solid ThreeDLightShadow;
	-moz-border-start: var(--group-border-width) solid ThreeDHighlight;
	-moz-border-end: var(--group-border-width) solid ThreeDLightShadow;
	box-shadow: var(--item-shadow);
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#searchbox {
	display: flex;
	flex: 0 0 auto;
}

body[searching="list"] #searchbox {
	position: relative;
	margin: 0 auto;
}

body[searching="list"] #searchquery {
	width: 270px;
	margin: 20px auto;
	max-width: -moz-available;
	height: 30px;
	border: none;
	border-radius: 5px;
	padding: 0 5px;
	font-size: 14px;
	text-align: center;
	box-shadow: var(--item-shadow);
}

body[searching="list"] #search-mode {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-margin-end: 10px;
	border: 1px solid var(--button-border);
	border-radius: 12px;
	box-shadow: var(--item-shadow), inset 0 0 2px 2px var(--button-border);
}

body[searching="list"] #search-close {
	display: none;
}

body[searching="highlight"] #searchbox {
	position: absolute;
	background: var(--highlighter-background);
	border-radius: 10px;
	box-shadow: var(--item-shadow);
}

body[searching="highlight"] #searchquery {
	margin: 10px 10px 3px;
	width: 175px;
	padding: 2px 15px;
	border: 1px solid transparent;
	text-align: center;
	font-weight: bold;
}

body[searching="highlight"] #searchbox:not(:hover) #searchquery:not(:focus) {
	background: none;
}

body[searching="highlight"] #searchquery:focus {
	border-color: var(--group-active-border-color);
}

body[searching="highlight"] #search-close,
body[searching="highlight"] #search-mode {
	position: absolute;
	top: 0;
	background-color: var(--highlighter-background);
	border-radius: 12px;
}

body[searching="highlight"] #search-mode:-moz-locale-dir(ltr),
body[searching="highlight"] #search-close:-moz-locale-dir(rtl) {
	left: 0;
}

body[searching="highlight"] #search-mode:-moz-locale-dir(rtl),
body[searching="highlight"] #search-close:-moz-locale-dir(ltr) {
	right: 0;
}

body[searching="highlight"].searched .tab:not(.highlighted),
body[searching="highlight"].searched .appTabIcon:not(.highlighted),
body[searching="highlight"].searched.classic .groupItem:not(.hasHighlightedItems),
body[searching="highlight"].searched:not(.classic) .groupItem:not(.hasHighlightedItems) > *,
body[searching="highlight"].searched .groupSelector:not(.hasHighlightedItems) {
	opacity: 0.05;
}

body[searching="highlight"].searched:not(.DraggingGroup):not(.DraggingGroupSelector):not(.DraggingTab) .tab:not(.highlighted),
body[searching="highlight"].searched:not(.DraggingGroup):not(.DraggingGroupSelector):not(.DraggingTab) .appTabIcon:not(.highlighted),
body[searching="highlight"].searched:not(.DraggingGroup):not(.DraggingGroupSelector):not(.DraggingTab) .groupItem:not(.hasHighlightedItems),
body[searching="highlight"].searched:not(.DraggingGroup):not(.DraggingGroupSelector):not(.DraggingTab) .groupSelector:not(.hasHighlightedItems) {
	pointer-events: none;
}

.search-result-group {
	background-color: var(--item-background);
}

.search-result-group:not(.first-child) {
	border-top: var(--group-border-width) solid ThreeDHighlight;
}

.search-result-group:not(.last-child) {
	border-bottom: var(--group-border-width) solid ThreeDShadow;
}

.search-result-group-title {
	display: block;
	padding: 7px 6px;
}

.search-result-group .tab-container {
	overflow: hidden;
	height: auto;
}

.search-result-group .tab > *:not(.tab-result-buttons) {
	pointer-events: none;
}

.search-result-group .tab-title {
	font-weight: bold;
}

.search-result-group .tab .tab-result-buttons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
}

.search-result-group .tab .tab-result-buttons:-moz-locale-dir(ltr) {
	right: 10px;
}
.search-result-group .tab .tab-result-buttons:-moz-locale-dir(rtl) {
	left: 10px;
}

.search-result-group .tab-container .tab .tab-label {
	-moz-margin-end: 56px;
}

/* Per-group options sub-dialog */

html.thumbing #groupOptions-shade,
html.thumbing #groupOptions,
body:not(.groupOptions) #groupOptions-shade,
body:not(.groupOptions) #groupOptions,
body:not(.single) .notapplicable-single {
	display: none;
}

#groupOptions-shade {
	z-index: var(--z-shade);
}

#groupOptions {
	z-index: var(--z-overlay);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	max-width: 800px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 26px;
	background: var(--item-background);
	font-size: 20px;
	box-shadow: var(--item-shadow);
}

#groupOptions-close {
	position: absolute;
	top: 0;
	width: 26px;
	height: 26px;
}

#groupOptions-close:-moz-locale-dir(ltr) {
	right: 0;
}
#groupOptions-close:-moz-locale-dir(rtl) {
	left: 0;
}

#groupOptions-title {
	text-overflow: ellipsis;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(128,128,128,0.3);
	/* subtract own border and padding */
	width: 100%;
	font-size: 26px;
}

#groupOptions-title:focus {
	text-overflow: clip;
}

#groupOptions-title::-moz-placeholder {
	font-style: italic;
	color: rgba(128,128,128,1);
}

#groupOptions-title:focus::-moz-placeholder {
	color: transparent;
}

.groupOptions-section {
	margin: 12px 0;
}

#groupOptions .caption {
	font-weight: bold;
	margin: 5px 0;
}

#groupOptions .radio-option {
	display: inline;
	-moz-margin-end: 18px;
}

#groupOptions input[type="radio"] {
	-moz-margin-end: 8px;
}

#groupOptions *:not(input)[disabled="true"] {
	opacity: 0.5;
}

.smallindent {
	-moz-margin-start: 1.5em;
}

#groupOptions-catchRules-div {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

#groupOptions-catchRules-container {
	flex: 1 1 auto;
	min-height: 150px;
	position: relative;
}

#groupOptions-catchRules {
	resize: none;
	width: 100%;
	height: 100%;
	padding: 2px;
	white-space: pre;
}

#groupOptions-catchRules-placeholder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	font-size: 14px;
	font-style: italic;
	padding: 1px 4px;
	opacity: 0.85;
	background: none;
}
