/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
	font: -moz-window;
	color: WindowText;
	font-size: 12px;
}

#bg {
	background-color: window;
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
}

/* Tabs */

.thumb {
	background-color: #D7D7D7;
}

.thumb > *:-moz-any(canvas,.cached-thumb) {
	border: 1px solid rgba(0,0,0,0.2);
}

.favicon {
	background-color: #D7D7D7;
	box-shadow: 0 -1px 0 rgba(225, 225, 225, 0.8) inset, -1px 0 0 rgba(225, 225, 225, 0.8) inset;
	border-top: 1px solid transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-moz-border-start: 1px solid transparent;
	-moz-border-end: 1px solid rgba(0, 0, 0, 0.3);
}

html[dir=rtl] .favicon {
	box-shadow: 0 -1px 0 rgba(225, 225, 225, 0.8) inset, 1px 0 0 rgba(225, 225, 225, 0.8) inset;
}

.close {
	opacity: 0.2;
	background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 16, 16, 0);
	background-position: center center;
}

.close:hover {
	background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 32, 16, 16);
}

.close:hover:active {
	background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 48, 16, 32);
}

.close:hover,
.appTabIcon:hover {
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.tab.focus .thumb {
	box-shadow: Highlight 0px 0px 5px 1px !important;
	border-color: Highlight;
}

.tab.focus:not(.stacked) .favicon {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	-moz-border-start: 1px solid rgba(0, 0, 0, 0.3);
}

/* Tab GroupItem */

.groupItem {
	border: 1px solid rgba(230,230,230,1);
	background-color: window;
	background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1));
	box-shadow: inset rgba(255, 255, 255, 0.6) 0 0 0 2px, rgba(0,0,0,0.2) 1px 1px 3px;
}

html[dir=rtl] .groupItem {
	box-shadow: inset rgba(255, 255, 255, 0.6) 0 0 0 2px, rgba(0,0,0,0.2) -1px 1px 3px;
}

.phantom {
	border: 1px solid rgba(190,190,190,1);
}

.dragRegion {
	background: rgba(248,248,248,0.4);
}

.undo {
	background-color: rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(255,255,255,.4), 0 1px 0 rgba(0,0,0,.3) inset;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	color: WindowText;
}

.undo:hover {
	background-color: rgba(0,0,0,.3);
}

/* Other */

input.name {
	color: GrayText;
}

input.name:focus {
	color: WindowText;
}

.title-container:hover input.name::-moz-placeholder {
	color: GrayText;
}

/* Side buttons */

#actions,
#pinnedTabs {
	border: 1px solid rgba(230,230,230,1);
	background-color: rgba(248,248,248,1);
	box-shadow: inset rgba(255, 255, 255, 0.6) 0 0 0 2px, rgba(0,0,0,0.2) 1px 1px 3px;
}

html[dir=rtl] #actions,
html[dir=rtl] #pinnedTabs {
	box-shadow: inset rgba(255, 255, 255, 0.6) 0 0 0 2px, rgba(0,0,0,0.2) -1px 1px 3px;
}

#exit-button {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 80, 16, 64);
}

#exit-button[groups="0"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 16, 16, 0);
}

#exit-button[groups="1"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 32, 16, 16);
}

#exit-button[groups="2"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 48, 16, 32);
}

#exit-button[groups="3"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 64, 16, 48);
}

/* Search */

#searchbox {
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,1), 0px 0px 9px rgba(0,0,0,.8);
}
