/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview toolbar button */

:-moz-any(toolbar, .widget-overflow-list) #tabGroups-tabview-button > .toolbarbutton-icon {
	max-width: 18px;
}

:-moz-any(#TabsToolbar, #nav-bar) #tabGroups-tabview-button > .toolbarbutton-icon {
	padding: 2px 6px;
	max-width: 32px;
}
