/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview toolbar button */

@media not all and (min-resolution: 1.1dppx) {
	.tabGroups-icon {
		-moz-image-region: rect(0, 18px, 18px, 0);
	}
	.tabGroups-icon:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
		-moz-image-region: rect(18px, 18px, 36px, 0);
	}
	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		-moz-image-region: rect(0, 32px, 32px, 0);
	}
}

@media (min-resolution: 1.1dppx) {
	.tabGroups-icon {
		-moz-image-region: rect(0, 36px, 36px, 0);
	}
	.tabGroups-icon:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
		-moz-image-region: rect(36px, 36px, 72px, 0);
	}
	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		-moz-image-region: rect(0, 64px, 64px, 0);
	}
}

:-moz-any(toolbar, .widget-overflow-list) #tabGroups-tabview-button > .toolbarbutton-icon {
	max-width: 18px;
	margin: 0;
}

/* Tweak needed so the button label adapts to an appropriate height. */
#tabGroups-tabview-button .toolbarbutton-text {
	max-height: 1em;
}

/* Don't let the text stick too close to the borders,
   but only if Tab Center isn't enabled, it already looks ok there. */
#navigator-toolbox > #TabsToolbar #tabGroups-tabview-button[showGroupTitle] .toolbarbutton-text {
	padding-left: 5px;
	padding-right: 5px;
}
