/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--item-border-radius: 7px;
}

body {
	font: message-box;
	font-size: 12px;
}

/* Tab Item */

@media (min-resolution: 1.1dppx) {
	body:not([FF50]) .tab[busy]:not([progress]) .throbber,
	body:not([FF50]) .appTabIcon[busy]:not([progress]) {
		background-image: url("chrome://browser/skin/tabbrowser/connecting@2x.png");
	}

	body:not([FF48]) .tab[busy][progress] .throbber,
	body:not([FF48]) .appTabIcon[busy][progress] {
		background-image: url("chrome://browser/skin/tabbrowser/loading@2x.png");
	}

	body[FF48]:not([FF50]) .tab[busy][progress] .throbber,
	body[FF48]:not([FF50]) .appTabIcon[busy][progress] {
		background-image: url("chrome://global/skin/icons/loading@2x.png");
	}
}

/* Tab GroupItem */

body.classic .groupItem,
.expandedTray,
.undo:not(.inGroupSelector) {
	border-radius: var(--item-border-radius);
}

/* Side buttons */

body:-moz-any(.classic,[lwtheme]) #actions {
	border-top-color: ThreeDHighlight;
}

body.classic #actions {
	border-radius: 0 0 0 var(--item-border-radius);
}

body.classic #actions:-moz-locale-dir(rtl) {
	border-radius: 0 0 var(--item-border-radius) 0;
}
