/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--item-background: #D0D0D0;
	--item-border: var(--canvas-border-width) solid rgba(0, 0, 0, 0.3);
	--item-border-radius: 7px;
}

:root:-moz-window-inactive {
	--shade-background: linear-gradient(rgba(237,237,237,0.42), rgba(216,216,216,0.42));
}

body {
	background-color: transparent;
	font: message-box;
	font-size: 12px;
}

/* yosemite uses vibrant background on parent iframe */
@media not all and (-moz-mac-yosemite-theme) {
	body {
		background-image: linear-gradient(#C4C4C4, #9E9E9E);
	}

	body:-moz-window-inactive {
		background-image: linear-gradient(#EDEDED, #D8D8D8);
	}
}

/* Tabs */

.favicon-container {
	box-shadow: 0 -1px 0 rgba(225, 225, 225, 0.8) inset, -1px 0 0 rgba(225, 225, 225, 0.8) inset;
}

.favicon-container:-moz-locale-dir(rtl) {
	box-shadow: 0 -1px 0 rgba(225, 225, 225, 0.8) inset, 1px 0 0 rgba(225, 225, 225, 0.8) inset;
}

.close {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/close.png), 0, 16, 16, 0);
}
.close:hover {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/close.png), 0, 32, 16, 16);
}
.close:active {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/close.png), 0, 48, 16, 32);
}

/* Tab GroupItem */

body.classic .groupItem,
.expandedTray,
.undo:not(.inGroupSelector) {
	border-radius: var(--item-border-radius);
}

/* Side buttons */

body.classic #actions {
	border-radius: var(--item-border-radius) 0 0 var(--item-border-radius);
}

body.classic #actions:-moz-locale-dir(rtl) {
	border-radius: 0 var(--item-border-radius) var(--item-border-radius) 0;
}

#actions .grouped {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Search */

#searchbox,
#searchresults {
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,1), 0px 0px 13px rgba(0,0,0,.8);
}

#searchbox:-moz-window-inactive,
#searchresults:-moz-window-inactive {
	background-color: #BBBBBB;
	box-shadow: 0px 1px 0px rgba(255,255,255,.1), 0px -1px 0px rgba(0,0,0,0.3), 0px 0px 13px rgba(0,0,0,.2);
}
