/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@-moz-document url("chrome://browser/content/browser.xul") {
	.tabGroups-quickaccess toolbarbutton.quickaccess-currentbutton,
	.quickaccess-currentbutton {
		background-color: hsla(210,4%,90%,.12);
		border-color: hsla(210,4%,60%,.14);
		box-shadow: 0 1px 0 hsla(210,4%,60%,.03) inset;
	}

	.tabGroups-quickaccess toolbarbutton.quickaccess-activebutton:not(.quickaccess-currentbutton),
	.quickaccess-activebutton:not(.quickaccess-currentbutton) {
		background-color: hsla(210,4%,90%,.08);
		border-color: hsla(210,4%,60%,.14);
	}

	toolbarbutton.quickaccess-tabsbutton:hover {
		background-color: rgba(128,128,128,0.2);
	}

	.tabGroups-quickaccess-panel-footer > toolbarbutton.subviewbutton.panel-subview-footer:hover {
		background-color: rgba(128,128,128,0.3);
	}
}

@-moz-document url("chrome://tabgroups/content/tabview.xhtml") {
	:root {
		--control-icons: url("chrome://tabgroups/skin/compatibilityFix/group-controls-dark.png");
		--control-icons-2x: url("chrome://tabgroups/skin/compatibilityFix/group-controls-dark@2x.png");
		--actions-icons: url("chrome://tabgroups/skin/compatibilityFix/actions-dark.png");
		--actions-icons-2x: url("chrome://tabgroups/skin/compatibilityFix/actions-dark@2x.png");
		--item-background: rgb(12,12,12);
		--group-border-color: rgb(0,0,0);
		--item-border: var(--group-border-width) solid var(--group-border-color);
		--item-border-radius: 2px;
		--favicon-radius: 2px;
		--favicon-tile-shadow: 0 0 2px rgba(255,255,255,0.5);
		--hover-color: rgba(165,165,165,.4);
		--group-selector-hover-color: rgba(165,165,165,.4);
		--group-titlebar-edit-icon: url("chrome://tabgroups/skin/compatibilityFix/edit-dark.png");
		--shade-background: rgba(24,24,24,.42);
		--highlighter-background: rgb(68,212,255);
	}

	body.classic:not([lwtheme]),
	#groupSelector,
	#groupOptions-catchRules {
		background-color: rgb(36,36,36);
	}

	.titlebar .name,
	.titlebar .tab-counter,
	.tab-label,
	#groupOptions,
	#groupOptions-title,
	#groupOptions-catchRules {
		color: rgb(166,166,166);
	}

	.expandedTray,
	.undo:not(.inGroupSelector),
	#actions .grouped,
	body:-moz-any(.single,.grid,.classic) .groupItem,
	body:-moz-any(.single,.grid,.classic) #actions {
		border-color: rgb(77,77,77);
	}

	#groupSelector {
		-moz-border-end-color: rgb(77,77,77);
	}

	.undo {
		color: var(--hover-color);
	}

	#groupOptions {
		border: 1px solid rgb(77,77,77);
	}

	.undo:hover,
	.groupSelector:hover .undo {
		color: rgb(0,173,238);
	}

	.groupItem:not(.thumbing) .tab:not(.stacked).focus .tab-label,
	.groupItem:not(.thumbing) .tab:not(.stacked):hover .tab-label,
	.expandedTray .tab.focus .tab-label,
	.expandedTray .tab:hover .tab-label,
	.search-result-group .tab.focus .tab-label,
	.groupSelector:hover,
	.groupSelector.dragOver,
	.groupSelector.activeGroupItem {
		color: rgb(0,173,238);
	}

	.create-new .create-new-border {
		opacity: 0.75;
	}

	.create-new:hover .create-new-border {
		--plus-button-color: rgb(0,173,238);
	}

	body:not(.single) .activeGroupItem .tab-counter {
		background-image: linear-gradient(to bottom, rgba(75,175,240,0.5), transparent);
	}
}
