/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--item-background: -moz-dialog;
	--item-background-aero: hsl(210,75%,92%);
	--item-border: 1px solid rgba(73, 99, 119, 0.3);
	--item-border-radius: 5px;
}

body {
	font: message-box;
	font-size: 13px;
}

body:not(:-moz-system-metric(windows-compositor)) {
	background: url("chrome://tabgroups-os/skin/grain.png") repeat scroll center top, linear-gradient(#CCD9EA, #C7D5E7) repeat scroll 0 0;
}

body.grid {
	background-color: var(--item-background);
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.grid {
			background-color: var(--item-background-aero);
		}
	}
}

/* Tabs */

.thumb {
	background-color: var(--item-background);
}

.thumb > *:-moz-any(canvas,.cached-thumb) {
	border: var(--item-border);
}

.favicon-container {
	background-color: var(--item-background);
	border-top: 1px solid transparent;
	border-bottom: var(--item-border);
	-moz-border-start: 1px solid transparent;
	-moz-border-end: var(--item-border);
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		.thumb,
		.favicon-container {
			background-color: var(--item-background-aero);
		}
	}
}

.close {
	background-image: -moz-image-rect(url("chrome://tabgroups-os/skin/close.png"), 0, 16, 16, 0);
}

.close:hover {
	background-image: -moz-image-rect(url("chrome://tabgroups-os/skin/close.png"), 0, 32, 16, 16);
}

.close:hover:active {
	background-image: -moz-image-rect(url("chrome://tabgroups-os/skin/close.png"), 0, 48, 16, 32);
}

/* Tab GroupItem */

.groupItem,
.expandedTray,
.undo {
	background-color: var(--item-background);
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		.groupItem {
			background-color: var(--item-background-aero);
		}

		body.classic .groupItem {
			border-radius: var(--item-border-radius);
		}

		.expandedTray,
		.undo {
			background-color: var(--item-background-aero);
			border-radius: var(--item-border-radius);
		}
	}
}

/* Side buttons */

body.classic #actions {
	background-color: var(--item-background);
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.classic #actions {
			background-color: var(--item-background-aero);
			border-radius: var(--item-border-radius) 0 0 var(--item-border-radius);
		}

		body.classic #actions:-moz-locale-dir(rtl) {
			border-radius: 0 var(--item-border-radius) var(--item-border-radius) 0;
		}
	}
}

#exit-button {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 90, 18, 72);
}

#exit-button[groups="0"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 18, 18, 0);
}

#exit-button[groups="1"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 36, 18, 18);
}

#exit-button[groups="2"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 54, 18, 36);
}

#exit-button[groups="3"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 72, 18, 54);
}

#actions .grouped {
	border-top: 1px solid rgba(4, 38, 60, 0.3);
}

/* Search */

#searchbox {
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,1), 0px 0px 9px rgba(0,0,0,.8);
}
