/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--item-border-radius: 5px;
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		:root {
			--item-background: hsl(210,75%,92%);
			--hover-color: rgba(98,127,134,0.2);
		}

		body.classic:not([lwtheme]) {
			background-color: transparent;
		}
	}
}

body {
	font: message-box;
	font-size: 13px;
}

body:not(:-moz-system-metric(windows-compositor)) {
	background: url("chrome://tabgroups-os/skin/grain.png") repeat scroll center top, linear-gradient(#CCD9EA, #C7D5E7) repeat scroll 0 0;
}

body.classic:not([lwtheme]) {
	background-color: window;
}

/* Tab Item */

@media (min-resolution: 1.1dppx) {
	.tab[busy]:not([progress]) .throbber,
	.appTabIcon[busy]:not([progress]) {
		background-image: url("chrome://browser/skin/tabbrowser/connecting@2x.png");
	}

	body:not([FF48]) .tab[busy][progress] .throbber,
	body:not([FF48]) .appTabIcon[busy][progress] {
		background-image: url("chrome://browser/skin/tabbrowser/loading@2x.png");
	}

	body[FF48] .tab[busy][progress] .throbber,
	body[FF48] .appTabIcon[busy][progress] {
		background-image: url("chrome://global/skin/icons/loading@2x.png");
	}
}

/* Tab GroupItem */

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.classic .groupItem,
		.expandedTray,
		.undo:not(.inGroupSelector) {
			border-radius: var(--item-border-radius);
		}
	}
}

/* Side buttons */

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.classic #actions {
			border-radius: 0 0 0 var(--item-border-radius);
		}

		body.classic #actions:-moz-locale-dir(rtl) {
			border-radius: 0 0 var(--item-border-radius) 0;
		}
	}
}
