/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--item-border-radius: 5px;
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		:root {
			--item-background: hsl(210,75%,92%);
			--hover-color: rgba(98,127,134,0.2);
		}
	}
}

body {
	font: message-box;
	font-size: 13px;
}

body:not(:-moz-system-metric(windows-compositor)) {
	background: url("chrome://tabgroups-os/skin/grain.png") repeat scroll center top, linear-gradient(#CCD9EA, #C7D5E7) repeat scroll 0 0;
}

body.classic:not([lwtheme]) {
	background-color: window;
}

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.classic:not([lwtheme]):not([darktheme]) {
			background-color: transparent;
		}

		body.single:not([lwtheme]):not([darktheme]) {
			--group-selector-text-color: rgb(255,255,255);
		}

		body.single:not([lwtheme]):not([darktheme]),
		body:not([lwtheme]):not([darktheme]) #groupSelector {
			background-color: transparent;
		}

		body:not([lwtheme]):not([darktheme]) .groupSelector .group-title {
			padding: 14px;
			bottom: calc(var(--group-selector-padding) - 14px);
		}

		body:not([lwtheme]):not([darktheme]) .groupSelector:not(:hover):not(.dragOver):not(.activeGroupItem) .group-title {
			color: rgb(0,0,0);
			text-shadow: 0 0 9px white, 0 0 9px white, 0 0 9px white, 0 0 14px white, 0 0 14px white, 0 0 14px white;
		}

		body:not([lwtheme]):not([darktheme]) .groupSelector:-moz-any(:hover,.dragOver,.activeGroupItem) .group-title {
			text-shadow: 0 0 2px rgba(0,0,0,0.5);
		}
	}
}

/* Tab Item */

@media (min-resolution: 1.1dppx) {
	body:not([FF50]) .tab[busy]:not([progress]) .throbber,
	body:not([FF50]) .appTabIcon[busy]:not([progress]) {
		background-image: url("chrome://browser/skin/tabbrowser/connecting@2x.png");
	}

	body:not([FF48]) .tab[busy][progress] .throbber,
	body:not([FF48]) .appTabIcon[busy][progress] {
		background-image: url("chrome://browser/skin/tabbrowser/loading@2x.png");
	}

	body[FF48]:not([FF50]) .tab[busy][progress] .throbber,
	body[FF48]:not([FF50]) .appTabIcon[busy][progress] {
		background-image: url("chrome://global/skin/icons/loading@2x.png");
	}
}

/* Tab GroupItem */

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.classic .groupItem,
		.expandedTray,
		.undo:not(.inGroupSelector) {
			border-radius: var(--item-border-radius);
		}
	}
}

/* Side buttons */

@media (-moz-windows-default-theme) {
	@media	(-moz-os-version: windows-vista),
		(-moz-os-version: windows-win7) {

		body.classic #actions {
			border-radius: 0 0 0 var(--item-border-radius);
		}

		body.classic #actions:-moz-locale-dir(rtl) {
			border-radius: 0 0 var(--item-border-radius) 0;
		}
	}
}
