/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview toolbar button */

:-moz-any(toolbar, .widget-overflow-list) #tabGroups-tabview-button > .toolbarbutton-icon {
	max-width: 18px;
}

#nav-bar #tabGroups-tabview-button > .toolbarbutton-icon {
	padding: 2px 6px;
	max-width: 32px;
}

@media (-moz-os-version: windows-win10) {
	#nav-bar #tabGroups-tabview-button > .toolbarbutton-icon {
		padding: 4px 6px;
	}
}

@media (-moz-windows-theme: luna-silver) and (max-resolution: 1dppx) {
	.tabGroups-icon {
		list-style-image: url("chrome://tabgroups-os/skin/Toolbar-lunaSilver.png");
	}
}
